<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.CartMapper">
    <resultMap id="CartResultMap" type="org.lanqiao.entity.Cart">
        <id column="cart_id" property="cartId" jdbcType="INTEGER"/>
        <result column="car_pro_num" property="carProNum" jdbcType="INTEGER"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="cart_flag" property="cartFlag" jdbcType="INTEGER"/>
        <result column="car_user_id" property="carUserId" jdbcType="INTEGER"/>
        <association property="proDetail" resultMap="ProDetailResultMap">
        </association>
    </resultMap>
    <resultMap id="ProDetailResultMap" type="org.lanqiao.entity.ProDetail">
        <id column="pdetail_id" property="pdetailId" jdbcType="INTEGER" />
        <result column="pro_price" property="proPrice" jdbcType="DOUBLE" />
        <result column="stock" property="stock" jdbcType="INTEGER" />
        <association property="product" resultMap="ProductResultMap">
        </association>
        <!--        <collection property="standardsVal" resultMap="StandardsValResultMap">-->
        <!--        </collection>-->
    </resultMap>
    <resultMap id="ProductResultMap" type="org.lanqiao.entity.Product">
        <id column="pro_id" property="proId" jdbcType="INTEGER" />
        <result column="pro_name" property="proName" jdbcType="VARCHAR" />
        <association property="user" resultMap="UserResultMap">
        </association>
    </resultMap>
    <resultMap id="UserResultMap" type="org.lanqiao.entity.User">
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="StandardsValResultMap" type="org.lanqiao.entity.StandardsVal">
        <result column="stan_val_name" property="stanValName" jdbcType="VARCHAR" />
        <association property="standards" resultMap="StandardsResultMap">
        </association>
    </resultMap>
    <resultMap id="StandardsResultMap" type="org.lanqiao.entity.Standards">
        <result column="stan_name" property="stanName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
    cart_id, car_pro_num, add_time, cart_flag, car_user_id, car_prode_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="CartResultMap" parameterType="java.lang.Integer">
    select u.user_name, p.pro_id, p.pro_name, pd.pro_price, c.car_pro_num, pd.stock,
     pd.pdetail_id from cart c, prodetail pd, product p, user u where c.car_prode_id = pd.pdetail_id and pd.dtl_pro_id
    = p.pro_id and p.pro_user_id = u.user_id and c.
    cart_flag = 1 and c.car_user_id = #{userId,jdbcType=INTEGER};
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="org.lanqiao.entity.Cart" >
    insert into cart (car_pro_num, car_user_id, car_prode_id, cart_flag
      )
    values (#{carProNum,jdbcType=INTEGER},
     #{carUserId,jdbcType=INTEGER}, #{carProdeId,jdbcType=INTEGER},#{cartFlag,jdbcType=INTEGER}
      )
  </insert>
    <select id="getAllCart" resultMap="CartResultMap" parameterType="java.lang.Integer">
 select * from cart c,prodetail pt,product p,type t where p.pro_type_id=t.type_id and pt.dtl_pro_id=p.pro_id
 and c.car_prode_id=pt.pdetail_id and c.car_user_id = #{userId}
 </select>
</mapper>
