<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.ProductMapper" >
  <resultMap id="ProductResultMap" type="org.lanqiao.entity.Product" >
    <id column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="pro_type_id" property="proTypeId" jdbcType="INTEGER" />
    <result column="pro_brand_id" property="proBrandId" jdbcType="INTEGER" />
    <result column="up_time" property="upTime" jdbcType="TIMESTAMP" />
    <result column="down_time" property="downTime" jdbcType="DATE" />
    <result column="pro_state" property="proState" jdbcType="VARCHAR" />
    <association property="user" resultMap="UserResultMap"></association>
    <collection property="standardsSet" resultMap="StandardsResultMap"></collection>
  </resultMap>
  <resultMap id="UserResultMap" type="org.lanqiao.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="user_pid" property="userPid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="StandardsResultMap" type="org.lanqiao.entity.Standards" >
    <id column="stan_id" property="stanId" jdbcType="INTEGER" />
    <result column="stan_name" property="stanName" jdbcType="VARCHAR" />
    <collection property="standardsvalSet" resultMap="StandardsvalResultMap"></collection>
  </resultMap>
  <resultMap id="StandardsvalResultMap" type="org.lanqiao.entity.StandardsVal" >
    <id column="stan_val_id" property="stanValId" jdbcType="INTEGER" />
    <result column="stan_val_name" property="stanValName" jdbcType="VARCHAR" />
    <collection property="proDetailSet" resultMap="ProdetailResultMap"></collection>
  </resultMap>
  <resultMap id="ProdetailResultMap" type="org.lanqiao.entity.ProDetail">
    <id column="pdetail_id" jdbcType="INTEGER" property="pdetailId" />
    <result column="dtl_pro_id" jdbcType="INTEGER" property="dtlProId" />
    <result column="pro_price" jdbcType="DOUBLE" property="proPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
  </resultMap>
  <sql id="Base_Column_List" >
    pro_id, pro_name, pro_type_id, pro_brand_id, up_time, down_time, pro_state, pro_user_id
  </sql>
  <select id="selectByAll" parameterType="java.lang.Integer" resultMap="ProductResultMap">
select * from prodetail pd,product pro,standardsval sdv,standards sd,prodstandar psd,prodtlstanval psv where psd.prod_id = pro.pro_id
and psd.stand_id = sd.stan_id and sdv.stanval_stan_id = sd.stan_id and psv.pdsv_pdetail_id = pd.pdetail_id and psv.pdsv_stan_val_id = sdv.stan_val_id
and pd.dtl_pro_id=pro.pro_id and pro_id = #{proId,jdbcType=INTEGER}

  </select>
  <select id="selectByPrimaryKey" resultMap="ProductResultMap" parameterType="java.lang.Integer" >
    select * from prodtlstanval psv,prodetail pd,product pro,standardsval sdv,standards sd,user u where pro_price in
(select min(pro_price) from prodetail pd,product pro where pd.dtl_pro_id = pro.pro_id
GROUP BY pro_id) and psv.pdsv_pdetail_id = pdetail_id
   and pd.dtl_pro_id = pro.pro_id and psv.pdsv_stan_val_id=sdv.stan_val_id and sdv.stanval_stan_id = sd.stan_id and pro.pro_user_id = u.user_id
   and pro_id = #{proId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="org.lanqiao.entity.Product">
      insert into product (pro_name, pro_type_id, pro_brand_id, down_time, pro_state,pro_user_id ) values
      (#{proName,jdbcType=INTEGER}, #{proTypeId,jdbcType=INTEGER}, #{proBrandId,jdbcType=DOUBLE}, #{downTime,jdbcType=INTEGER}, #{proState,jdbcType=INTEGER},#{proUserId,jdbcType=INTEGER})
  </insert>
</mapper>