<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.StandardsMapper" >
  <resultMap id="StandardsResultMap" type="org.lanqiao.entity.Standards" >
    <id column="stan_id" property="stanId" jdbcType="INTEGER" />
    <result column="stan_name" property="stanName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    stan_id, stan_name
  </sql>
</mapper>