
/*标签选择器*/
div {color: green; background: black}
/*类选择器*/
.blueFont{color: blue}
.yellowBg{background-color: yellow}
/*id选择器*/
#first{font-size: 30px}
#c li{color: aqua}
/*派生选择器*/
li co{color: darkred}

/*去填充*/
body,p,ul,ol,h1,h2,h3,h4,h5,h6{padding: 0;margin: 0}
body{background-color: #fff;font-size: 12px;}

div{height: 1000px;background: crimson no-repeat url("../../images/a.jpg") 100px 50px;
    font:50px'Microsoft YaHei ';}


a:link{color: blue;}
a:visited{color: green;}
a:hover{color: black;}
a:active{color: red;}
